.proposer {
  display: inline-block;
}

.proposer a {
  display: inline-block;
}

.proposer a img {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-top: 1px;
}

.proposer .proposer-data {
  float: right;
  padding-left: 10px;
  display: inline-block;
  line-height: 10px;
}
